<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="lang.ide.handler.runmodel"
               label="Run model"
               style="push">
        <!--    <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="ecore">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>-->
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="lang.ide.popup.actions.RunModel"
            commandId="lang.ide.handler.runmodel">
      </handler>
   </extension>

    <extension
           point="org.eclipse.sirius.sessionManagerListener">
        <listener
              class="lang.ide.listener.MySessionListener">
        </listener>
     </extension>

  <extension point="org.eclipse.sirius.componentization">
    <component class="lang.ide.Activator"
               id="lang.ide"
	       name="lang">
    </component>
  </extension>
</plugin>
