
lang/bin/

lang\.ide/bin/

lang\.test/bin/

logo\.standalone/bin/

org\.xtext\.example\.mydsl/bin/

org\.xtext\.example\.mydsl\.ide/bin/

org\.xtext\.example\.mydsl\.ui/bin/

org\.xtext\.example\.mydsl/xtend-gen/

org\.xtext\.example\.mydsl\.ui/xtend-gen/

fluffy-umbrella-compiler\.ui/bin/
