<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
    Copyright (c) 2017 Inria and Obeo.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Inria - initial API and implementation
 -->

<!--
-->

<plugin>

    <extension
           point="org.eclipse.sirius.sessionManagerListener">
        <listener
              class="org.eclipse.emf.ecoretools.ale.ide.listener.AleSessionManagerListener">
        </listener>
     </extension>
    <extension
          id="org.eclipse.emf.ecoretools.ale.ide.project.alenature"
          name="ALE Nature"
          point="org.eclipse.core.resources.natures">
       <runtime>
          <run
                class="org.eclipse.emf.ecoretools.ale.ide.project.AleProjectNature">
          </run>
       </runtime>
    </extension>
    <extension
          point="org.eclipse.ltk.core.refactoring.renameParticipants">
       <renameParticipant
             class="org.eclipse.emf.ecoretools.ale.ide.refactoring.RenamePathsToAleResources"
             id="org.eclipse.emf.ecoretools.ale.ide.renameParticipant.renamePathsInDslFiles"
             name="Rename participant for *.dsl files">
          <enablement>
             <adapt
                   type="org.eclipse.core.resources.IResource">
             </adapt>
          </enablement>
       </renameParticipant>
    </extension>

</plugin>
